Package: com.nostalg1a.setgen
Name: SetGen
Version: 1.0
Architecture: appletv-arm64
Description: Set the generator to nvram for use with futurerestore. To start type "gen" in mobile terminal.
Maintainer: nostalg1a <nostalg1a@outlook.com>
Author: nostalg1a <nostalg1a@outlook.com>
Section: Scripting

