Package: com.jdzmfg.setgen
Name: SetGen
Version: 2.0
Architecture: appletv-arm64
Description: Set the generator to nvram for use with futurerestore. To start type "gen" in mobile terminal.
Maintainer: jdzmfg <jdzmfg@yahoo.com>
Author: jdzmfg <jdzmfg@yahoo.com>
Section: Scripting

